@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-09 11:05:06
 * @version $Id$
 */
div,img,h1,p{margin: 0;padding: 0;}
#shop_list{width: 600px; border: 1px solid #ccc;margin: 0 auto;overflow: hidden;}
#shop_list h1{font-size: 16px;}
#shop_list .shop1,#shop_list .shop2,#shop_list .shop3,#shop_list .shop4{border:1px solid #ccc;width: 190px;float: left;margin: 4px;}
#shop_list .shop2{position: relative;}
.xsp{position: absolute;right: 0;top:  0;}
p.name{color: blue;}
p{font-size: 13px;margin: 4px 6px;}